node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# lockfiles
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock

# build output
dist/
build/
*.tsbuildinfo

# vite
.vite/
vite.cache/
.cache/

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
