# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Dependencies
node_modules

# Build artifacts
dist
build
*.tsbuildinfo

# Vite
.vite/
vite.config.ts.timestamp-*

# Editor junk
.vscode/
.idea/

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Workspace artifacts
/packages/*/node_modules
/example/node_modules
/packages/*/yarn.lock
/example/yarn.lock
/packages/*/dist
/example/dist
